/* FilterPage.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .filter-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
  }
  
  .checkbox-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .checkbox-group label {
    font-size: 16px;
    color: #555555;
  }
  
  .filter-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter-button:hover {
    background-color: #0056b3;
  }
  
  .filter-result {
    margin-top: 20px;
    text-align: center;
  }
  
  .filter-result h2 {
    font-size: 18px;
    color: #333333;
  }
  
  .filter-result p {
    font-size: 16px;
    color: #007bff;
  }
  
  .dropdown-group {
    margin-bottom: 20px;
  }
  
  .dropdown-group label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
    font-size: 16px;
  }
  
  .dropdown-group input,
  .dropdown-group select {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .dropdown-group input[type="date"] {
    padding-right: 20px; /* Adjust padding for date input */
  }
  