.container-fluid {
  display: flex;
  min-height: 100vh; /* Ensures full height of viewport */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; /* Adjust width as needed */
  background-color: #f8f9fa; /* Light background color */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content {
  margin-left: 250px; /* Ensure content doesn't overlap with sidebar */
  padding: 20px;
}

.main-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-content h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.main-content p {
  font-size: 1.1rem;
  margin-top: 10px;
}

.main-content .btn-outline-secondary {
  font-size: 1rem;
}
