/* NewBillContainer.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Light grey background */
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Search bar */
.search-bar {
  position: relative;
  margin-bottom: 10px;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Dropdown */
.dropdown {
  position: absolute;
  width: 100%;
  max-height: 200px; /* Example fixed height */
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #f0f0f0; /* Grey background color */
  z-index: 1000; /* Ensure dropdown is above other elements */
}

.dropdown table {
  width: 100%;
  border-collapse: collapse;
}

.dropdown th,
.dropdown td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.dropdown tbody tr:hover {
  background-color: #dcdcdc; /* Hover background color */
  cursor: pointer;
}

/* Billing items table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tfoot {
  font-weight: bold;
}

/* Buttons */
button {
  padding: 10px 20px;
  background-color: #007bff; /* Blue button */
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  margin: 14% auto !important;
  padding: 20px;
  border-radius: 5px;
  width: 300px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex !important;
  flex-direction: column;
  justify-content: space-between; /* Ensure button stays at the bottom */
}
/* #input_2{
  padding-top: 10px;
} */

.close {
  align-self: flex-end; /* Align to the end of the modal content */
  cursor: pointer;
  font-size: 24px;
}

.close:hover {
  color: red; /* Red color on hover */
}
