/* MainComponent.css */

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  background-color: #0b9aed;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
  flex-wrap: wrap; 
}

.menu-toggle {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px; 
  cursor: pointer;
  margin-left: auto; 
  display: none;
}

.desktop-menu-toggle {
  background:  rgb(94, 190, 228);;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px; 
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
}

.main-content-wrapper {
  display: flex;
  flex: 1;
  transition: margin-left 0.3s ease;
}

.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 10px; 
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 85px; 
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 2;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.sidebar.open {
  transform: translateX(0);
}

.main-content-wrapper.shifted {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%; 
    height: calc(100% - 90px); 
    top: 90px; 
    padding-top: 20px;
    padding: 10px;
    transform: translateX(-100%); 
  }

  .main-content-wrapper {
    display: block; 
    margin-left: 0; 
  }

  .sidebar.open {
    transform: translateX(0); 
  }

  .menu-toggle {
    display: block;  }

 
  .desktop-menu-toggle {
    display: none; 
  }
}

.sidebar .sidebar-buttons {
  display: flex;
  flex-direction: column; 
}

.sidebar button {
  margin: 5px 0;
  padding: 10px;
  margin-top: 2px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar button:hover {
  background-color: #0056b3;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #e9ecef;
  overflow-y: auto;
}

.refresh-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.cash-collection {
  display: flex;
  align-items: center;
}

.main-component-close-button {
  background-color: red !important; 
  font-size: 18px !important; 
  cursor: pointer !important;
  position: absolute !important; 
  top: 0px !important; 
  right: 10px !important;
  padding: 5px !important; 
  border: none !important; 
  border-radius: 4px !important;
  z-index: 3 !important; 
}

.main-component-close-button:hover {
  background-color: darkred;
}
