/* Main container */
.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Top bar styles */
.top-bar {
  background-color: #0b9aed;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.brand-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

.refresh-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.8rem; /* Smaller size for refresh icon */
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 18px;
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 80px;
  left: -250px;
  width: 200px;
  height: calc(100% - 90px);
  background-color: #f8f9fa;
  padding: 10px;
  z-index: 2;
  overflow-y: auto;
  transition: left 0.3s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.open {
  left: 0;
}

.main-content-wrapper {
  display: flex;
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
}

.main-content-wrapper.shifted {
  margin-left: 200px; /* Shift when sidebar is open */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

/* List group */
.list-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.list-group-item {
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Mobile Specific Styles */
@media (max-width: 768px) {
  .brand-heading {
    font-size: 1rem;
  }

  .user-info {
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
  }

  .refresh-button {
    margin-left: 5px;
  }

  .list-group-item {
    font-size: 14px;
    padding: 10px;
  }

  .top-bar {
    padding: 5px 10px;
  }

  .menu-toggle {
    font-size: 16px;
  }

  .main-content-wrapper.shifted {
    margin-left: 0;
  }

  .sidebar {
    width: 250px; /* Adjust width for mobile sidebar */
    left: -300px; /* Fully hide the sidebar off the screen */
  }

  .sidebar.open {
    left: 0; /* Fully show the sidebar when open */
  }

  .cash-collection span {
    display: block;
  }
}
